 .title {
   background-color: #ff4c68;
 }

 .features {
   position: relative;
   text-align: center;
   padding: 4rem 0;
   font-weight: bold;
   background-color: #fff;
 }

 p {
   color: #afafaf;
 }

 h1 {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5;
   font-size: 3.5rem;
   color: white;
   font-weight: 400;
 }

 h3 {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
 }

 .nav-item {
   padding: 0 18px;
 }

 .nav-link {
   font-size: 1.2rem;
   font-family: "montserrat-light"
 }

 .container-fluid {
   padding: 3% 15%;
   padding-bottom: 7%;
 }

 .navbar-brand {
   font-size: 2rem;
   font-family: 'Ubuntu', sans-serif;
 }

 .dog {
   transform: rotate(20deg);
   width: 60%;
   position: absolute;
   margin-top: 0.1%;
   right: 30%;
 }

 .download-button {
   margin: 5% 3% 5% 0;
 }

 .navbar {
   padding-bottom: 1rem;
   margin-bottom: 1rem;
 }

 .fas {
   color: #ef8172;
   margin-bottom: 1rem;
 }

 .fas:hover {
   color: #ff4c68;
 }

 /*testimonials section*/
 .testimonials {
   background-color: #ef8172;
   color: #fff;
 }

 .testimonial-image {
   width: 10%;
   border-radius: 100%;
   margin: 20px;
 }

 .press {
   background-color: #ef8172;
   text-align: center;
   padding-bottom: 2rem;
 }

 .press-logo {
   width: 15%;
   margin: 20px 20px 50px;
 }

 .carousel-item {
   text-align: center;
   padding: 7% 15%;
 }

 .pricing {
   text-align: center;
   padding-top: 10%;
 }

 .pricing-column {
   padding: 5% 3%;
 }

 .cta {
   background-color: #ff4c68;
   text-align: center;
   padding-top: 7%;
 }

 .footer {
   background-color: #fff;
   text-align: center;
   padding: 5%;
 }

 .fi {
   margin: 1%;
 }

 @media (max-width:1020px) {
   .dog {
     position: static;
     transform: rotate(0deg);
   }

   .title {
     text-align: center;
   }

   h1 {
     font-size: 2rem;
   }
 }
